# 系统文件
.DS_Store
Thumbs.db

data/*.py
data/*.xlsx
data/filter_results.json
data/filter_statistics.json
data/processed_leaderboard_data.json
data/processed_score_data.json
data/filtered_leaderboard_data.json
data/*.md
utils/
deploy.sh


# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# IDE 文件
.idea/
.vscode/
*.swp
*.swo

# 本地配置（如果有必要）
# config.local.js
