# 系统文件
.DS_Store
Thumbs.db

data/filter/
data/llm/*.py
data/llm/*.xlsx
data/llm/*.md
data/llm/llm_leaderboard.json
data/llm/llm_score.json
data/llm/*.log
data/mm/*.py
data/mm/*.xlsx
data/mm/*.log
data/mm/mm_old.json
utils/
deploy.sh
.bak/
code/

# Python
__pycache__/

# IDE 文件
.vscode/
CLAUDE.md
TODO.md